.HomePage {
    background-color: black;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
}

.HomePage .mt-4 {
    margin-top: 20px;
}

.HomePage audio {
    width: 100%;
    margin-top: 10px;
}