.HomePage {
    background-color: black;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
}

.HomePage .mt-4 {
    margin-top: 20px;
}

.HomePage audio {
    width: 100%;
    margin-top: 10px;
}

.hero-title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4), 0 0 25px rgba(255, 255, 255, 0.6), 0 0 5px rgba(0, 0, 0, 0.4);
}