@font-face {
    font-family: "AmericanCaptain";
    src: url("./assets/fonts/AmericanCaptain.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
.logo {
    font-family: "AmericanCaptain";
    font-size: 150px;
    color: white;
}

h2 {
    font-size: 60px
}

h3 {
    font-size: 40px
}

h4 {
    font-family: "AmericanCaptain";
    font-size: 60px;
    color: #ff6843
}

h5 {
    font-family: "AmericanCaptain";
    font-size: 40px;
    color: #ff6843
}

p,
span,
.form-control {
    font-family: "Helvetica Neue";
}

.logo {
    font-size: 30px;
}

.form {
    background-color: #feb47b;
    color: white;
    padding: 20px;
    border-radius: 15px;
}

.form-control {
    border: none;
}

.form input,
#servicesField,
#moviesField,
#titleField,
#cinemaField,
#descriptionField {
    background-color: white;
    border: #ff6843;
    color: #feb47b
}

.form input:checked {
    background-color: #ff6843;
}

.form input:focus,
#servicesField:focus,
#moviesField:focus,
#titleField:focus {
    box-shadow: 0px 0px 10px #ff6843;
    color: #feb47b
}

.form input::placeholder {
    color: #feb47b
}

.styled-button-1 {
    background-color: #feb47b;
    border: none
}

.styled-button-1:hover {
    background-color: #ff6843;
}

.styled-button-2 {
    background-color: #ff6843;
    border: none
}

.styled-button-2:hover {
    background-color: #feb47b;
}

hr {
    color: #ff6843;
}

.badge-container-ligth {
    background-color: #feb47b;
}

.badge-container-medium {
    background-color: #fd8465;
}

.badge-container-dark {
    background-color: #ff6843;
}

.movie-container {
    padding: 20px;
    border-radius: 15px;
    color: #ff6843
}

.details-container {
    padding: 20px;
    border-radius: 15px;
    color: white;
    background-color: #feb47b;
}


.Navigation input {
    background-color: white;
    border: #ff6843;
    color: #feb47b
}

.Navigation input::placeholder {
    color: #feb47b
}

.Navigation input:focus {
    box-shadow: 0px 0px 10px #ff6843;
    color: #feb47b
}

.navbar-toggler {
    border: none
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("https://res.cloudinary.com/dhluctrie/image/upload/v1732100622/Toggler_edjgla.png");
}

.accordion-button {
    font-weight: bold;
    color: white;
    background-color: #ff6843;
}

.accordion-button:focus {
    box-shadow: 0px 0px 10px #ff6843;
}

.accordion-button::after {
    background-image: url("https://res.cloudinary.com/dhluctrie/image/upload/v1732098580/Arrow_wg2z4i.png");
    padding-left: 20px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("https://res.cloudinary.com/dhluctrie/image/upload/v1732098580/Arrow_wg2z4i.png");
}

.accordion-button:not {
    color: white
}

.accordion-button[aria-expanded="true"] {
    font-weight: bold;
    color: white;
    background-color: #ff6843;
    box-shadow: 0px 0px 10px #ff6843;
}

.accordion-collapse {
    color: white;
    background-color: #feb47b;
}

.list-group-item {
    border: 1px solid #feb47b;
    background-color: #fccfac;
}

.list-group-item a {
    color: white
}

.form-control:focus {
    box-shadow: 0px 0px 10px #ff6843;
}

.dropdown-menu {
    border: 1px solid #feb47b;
    background-color: #fccfac;
}

.dropdown-menu a {
    color: white
}

.dropdown-menu a:hover {
    color: white;
    background-color: none
}

.dropdown-divider {
    border-top: 1px solid white;
}