@font-face {
    font-family: "AmericanCaptain";
    src: url("./assets/fonts/AmericanCaptain.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.navbar {
    background-color: black;
}

.HomePage {
    position: relative;
    overflow: hidden;
}

.video-content {
    position: absolute;
    z-index: -1;
}

h1,
h2,
.logo {
    font-family: "AmericanCaptain";
    font-size: 150px;
    color: white;
}

h2 {
    font-size: 60px;
}

h3 {
    font-family: "AmericanCaptain";
    font-size: 60px;
    font-weight: bold;
    color: black
}

h4 {
    font-size: 40px;
    font-weight: bold;
}



p,
span,
.form-control {
    font-family: "Helvetica Neue";
}

.logo {
    font-size: 30px;
}

.form {
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 15px;
}

.form input:focus,
#servicesField:focus,
#moviesField:focus,
#titleField:focus {
    box-shadow: 0px 0px 10px black;
}

.form-check-input:checked {
    background-color: black;
    border-color: black;
}

.form-check-input:focus {
    border-color: black;
}

.styled-button-1 {
    background-color: grey;
    border: none
}

.styled-button-1:hover {
    background-color: grey;
}

.styled-button-2 {
    background-color: black;
    border: none
}

.styled-button-2:hover {
    background-color: grey;
}

.styled-button-3 {
    background-color: white;
    color: black;
    border: none;
}

.styled-button-3:hover,
.styled-button-4:hover {
    background-color: black;
    color: white
}

.styled-button-4 {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 20px;
    border: none;
}

.styled-button-1.btn:active,
.styled-button-2.btn:active,
.styled-button-3.btn:active,
.styled-button-4.btn:active {
    background-color: grey;
}

.badge-container-ligth {
    background-color: grey;
    font-weight: normal
}


.badge-container-medium {
    background-color: rgb(53, 53, 53);
    font-weight: normal
}

.badge-container-dark {
    background-color: black;
    font-weight: normal
}

.details-container {
    padding: 20px;
}

.Navigation input:focus {
    box-shadow: none;
    border: 1px solid #dee2e6;
}

.navbar-toggler {
    border: none
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("https://res.cloudinary.com/dhluctrie/image/upload/v1732100622/Toggler_edjgla.png");
}

.accordion-button::after {
    background-image: url("https://res.cloudinary.com/dhluctrie/image/upload/v1732098580/Arrow_wg2z4i.png");
    padding-left: 20px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("https://res.cloudinary.com/dhluctrie/image/upload/v1732098580/Arrow_wg2z4i.png");
}


.accordion-button,
.accordion-button[aria-expanded="true"] {
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
}

.accordion-button:focus {
    box-shadow: none
}

.accordion-item {
    border: none
}

.list-group-item {
    border-radius: 0%;
}

.form-control:focus {
    box-shadow: none;
    border-color: black;
}


.dropdown-item:focus {
    background-color: white;
    color: black
}


.delete-button {
    font-weight: bold;
}