@font-face {
    font-family: "AmericanCaptain";
    src: url("./assets/fonts/AmericanCaptain.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
.logo {
    font-family: "AmericanCaptain";
    font-size: 150px;
    color: #ff6843;
}

h2 {
    font-size: 60px
}

h3 {
    font-size: 40px
}

p,
span,
.form-control {
    font-family: "Helvetica Neue";
}

.logo {
    font-size: 30px;
}

.form-control {
    border: none;
}

.styled-button-1 {
    background-color: #feb47b;
    border: none
}

.styled-button-1:hover {
    background-color: #ff6843;
}

.styled-button-2 {
    background-color: #ff6843;
    border: none
}

.styled-button-2:hover {
    background-color: #feb47b;
}

hr {
    color: #ff6843;
}

.badge-container-ligth {
    background-color: #feb47b;
}

.badge-container-medium {
    background-color: #fd8465;
}

.badge-container-dark {
    background-color: #ff6843;
}

.movie-container {
    padding: 20px;
    border-radius: 15px;
    color: #ff6843
}

.movie-details-container {
    color: white;
    background-color: #feb47b;
}

.form {
    background-color: #feb47b;
    color: white;
    padding: 20px;
    border-radius: 15px;
}

.Navigation input {
    background-color: white;
    border: #ff6843;
    color: #feb47b
}

.Navigation input::placeholder {
    color: #feb47b
}

.Navigation input:focus {
    box-shadow: 0px 0px 10px #ff6843;
    color: #feb47b
}

.form input,
#servicesField,
#moviesField,
#titleField,
#cinemaField {
    background-color: white;
    border: #ff6843;
    color: #feb47b
}

.form input:checked {
    background-color: #ff6843;
}

.form input:focus,
#servicesField:focus,
#moviesField:focus,
#titleField:focus {
    box-shadow: 0px 0px 10px #ff6843;
    color: #feb47b
}

.form input::placeholder {
    color: #feb47b
}